.desktop-1
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-1 * {
  pointer-events: none;
}
.home,
.menu,
.about,
.contact {
  pointer-events: auto;
}
.desktop-1 {
  background: linear-gradient(
    179.98deg,
    rgba(216, 174, 111, 0.78) 58.13334584236145%
  );
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-10 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.home {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 337px;
  top: 319px;
  width: 142px;
  height: 49px;
  display: block;
}
.menu {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 537px;
  top: 319px;
  width: 123px;
  height: 33px;
  display: block;
}
.about {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 741px;
  top: 319px;
  width: 108px;
  height: 33px;
  display: block;
}
.contact {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 965px;
  top: 318px;
  width: 161px;
  height: 49px;
  display: block;
}
.start-your-day-right {
  color: #000000;
  text-align: left;
  font: 400 24px "Kaushan Script", sans-serif;
  position: absolute;
  left: 591px;
  top: 255px;
}
.image-10 {
  width: 1595px;
  height: 510px;
  position: absolute;
  left: -46px;
  top: -315px;
}
.rectangles-8 {
  position: absolute;
  left: 0px;
  top: 462px;
  overflow: visible;
}
.caffeine-bean {
  color: #000000;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 566.09px;
  top: 178px;
  width: 287.06px;
  height: 76.81px;
  transform-origin: 0 0;
  transform: rotate(0.068deg) scale(1, 1);
}
.fri-sun-10-am-9-pm {
  color: #ffffff;
  text-align: center;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 907px;
  top: 779px;
}
.image-13 {
  width: 578px;
  height: 562px;
  position: absolute;
  left: 0px;
  top: 462px;
}
.take-a-seat-and-have-a-sip {
  color: #ffffff;
  text-align: left;
  font: 400 64px "Kaushan Script", sans-serif;
  position: absolute;
  left: 705px;
  top: 524px;
}
.mon-thu-10-am-10-pm {
  color: #ffffff;
  text-align: center;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 907px;
  top: 627px;
}


.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 * {
  pointer-events: none;
}

.about,
.home,
.menu,
.contact {
  pointer-events: auto;
}
.desktop-2 {
  background: linear-gradient(
    179.98deg,
    rgba(216, 174, 111, 0.78) 58.13334584236145%
  );
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-9 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-6 {
  background: #171004;
  width: 1440px;
  height: 562px;
  position: absolute;
  left: 0px;
  top: 450px;
}
.espresso {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 632px;
  top: 896px;
}
.dessert {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 1123px;
  top: 896px;
}
.image-5 {
  width: 397.19px;
  height: 346px;
  position: absolute;
  left: 344px;
  top: 44px;
}
.home {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 337px;
  top: 319px;
  width: 142px;
  height: 49px;
  display: block;
}
.menu {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 537px;
  top: 319px;
  width: 123px;
  height: 33px;
  display: block;
}
.about {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 741px;
  top: 319px;
  width: 108px;
  height: 33px;
  display: block;
}
.caffeine-bean {
  color: #000000;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 566.09px;
  top: 178px;
  width: 287.06px;
  height: 76.81px;
  transform-origin: 0 0;
  transform: rotate(0.068deg) scale(1, 1);
}
.start-your-day-right {
  color: #000000;
  text-align: left;
  font: 400 24px "Kaushan Script", sans-serif;
  position: absolute;
  left: 591px;
  top: 255px;
}
.image-10 {
  width: 1595px;
  height: 510px;
  position: absolute;
  left: -46px;
  top: -315px;
}
.menu2 {
  color: #ffffff;
  text-align: left;
  font: 400 64px "Kaushan Script", sans-serif;
  position: absolute;
  left: 642px;
  top: 465px;
}
.contact {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 965px;
  top: 318px;
  width: 161px;
  height: 49px;
  display: block;
}
.rectangle-8 {
  width: 393px;
  height: 379px;
  position: absolute;
  left: 40px;
  top: 553px;
}
.image-17 {
  width: 575px;
  height: 393px;
  position: absolute;
  left: 433px;
  top: 568px;
}
.image-18 {
  width: 575px;
  height: 375px;
  position: absolute;
  left: 913px;
  top: 568px;
}
.brewed {
  color: #ffffff;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 144px;
  top: 896px;
}


.desktop-3,
.desktop-3 * {
  box-sizing: border-box;
}
.desktop-3 * {
  pointer-events: none;
}

.contact,
.home,
.menu,
.about {
  pointer-events: auto;
}
.desktop-3 {
  background: linear-gradient(
    179.98deg,
    rgba(216, 174, 111, 0.78) 58.13334584236145%
  );
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-6 {
  background: #171004;
  width: 1440px;
  height: 562px;
  position: absolute;
  left: 0px;
  top: 462px;
}
.caffeine-bean-shows-the-people-are-naturally-consuming-the-amount-of-coffee-that-allows-them-to-maintain-their-optimal-level-of-caffeine-to-get-that-good-caffeine-feeling-without-becoming-jittery-coffee-is-slightly-acidic-and-has-a-stimulating-effect-on-humans-because-of-its-caffeine-content-coffee-is-one-of-the-most-popular-drinks-in-the-world-it-can-be-prepared-and-presented-in-a-variety-of-ways {
  color: #f5f5f5;
  text-align: left;
  font: 400 24px "Kaushan Script", sans-serif;
  position: absolute;
  left: 67px;
  top: 558px;
  width: 1292px;
}
.image-5 {
  width: 397.19px;
  height: 346px;
  position: absolute;
  left: 344px;
  top: 44px;
}
.home {
  color: #000000;
  text-align: left;
  font-family: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 337px;
  top: 319px;
  width: 142px;
  height: 49px;
  display: block;
}
.menu {
  color: #000000;
  text-align: left;
  font-family: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 537px;
  top: 319px;
  width: 123px;
  height: 33px;
  display: block;
}
.about {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 741px;
  top: 319px;
  width: 108px;
  height: 33px;
  display: block;
}
.caffeine-bean {
  color: #000000;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 566.09px;
  top: 178px;
  width: 287.06px;
  height: 76.81px;
  transform-origin: 0 0;
  transform: rotate(0.068deg) scale(1, 1);
}
.start-your-day-right {
  color: #000000;
  text-align: left;
  font: 400 24px "Kaushan Script", sans-serif;
  position: absolute;
  left: 591px;
  top: 255px;
}
.image-10 {
  width: 1595px;
  height: 510px;
  position: absolute;
  left: -46px;
  top: -315px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font: 400 64px "Kaushan Script", sans-serif;
  position: absolute;
  left: 604px;
  top: 465px;
}
.contact {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 965px;
  top: 318px;
  width: 161px;
  height: 49px;
  display: block;
}


.desktop-4,
.desktop-4 * {
  box-sizing: border-box;
}
.desktop-4 * {
  pointer-events: none;
}

.contact,
.home,
.menu,
.about {
  pointer-events: auto;
}
.desktop-4 {
  background: linear-gradient(
    179.98deg,
    rgba(216, 174, 111, 0.78) 58.13334584236145%
  );
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-10 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-6 {
  background: #171004;
  width: 1440px;
  height: 562px;
  position: absolute;
  left: 0px;
  top: 462px;
}
._814-666-9706-email-us-contact-caffeine-bean-net {
  color: #f5f5f5;
  text-align: center;
  font: 400 40px "Kaushan Script", sans-serif;
  position: absolute;
  left: 67px;
  top: 558px;
  width: 1292px;
}
.image-5 {
  width: 397.19px;
  height: 346px;
  position: absolute;
  left: 344px;
  top: 44px;
}
.home {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 337px;
  top: 319px;
  width: 142px;
  height: 49px;
  display: block;
}
.menu {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 537px;
  top: 319px;
  width: 123px;
  height: 33px;
  display: block;
}
.about {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 741px;
  top: 319px;
  width: 108px;
  height: 33px;
  display: block;
}
.caffeine-bean {
  color: #000000;
  text-align: left;
  font: 400 48px "Kaushan Script", sans-serif;
  position: absolute;
  left: 566.09px;
  top: 178px;
  width: 287.06px;
  height: 76.81px;
  transform-origin: 0 0;
  transform: rotate(0.068deg) scale(1, 1);
}
.start-your-day-right {
  color: #000000;
  text-align: left;
  font: 400 24px "Kaushan Script", sans-serif;
  position: absolute;
  left: 591px;
  top: 255px;
}
.image-10 {
  width: 1595px;
  height: 510px;
  position: absolute;
  left: -46px;
  top: -315px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font: 400 64px "Kaushan Script", sans-serif;
  position: absolute;
  left: 604px;
  top: 465px;
}
.contact {
  color: #000000;
  text-align: left;
  font: 400 32px "Kaushan Script", sans-serif;
  position: absolute;
  left: 965px;
  top: 318px;
  width: 161px;
  height: 49px;
  display: block;
}

svg {
  pointer-events: none;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-link {
    padding: 10px;
    text-align: center;
  }
}

nav a:hover {
  color: #000000;
}
